.nyc_output
node_modules/
coverage
coverage.lcov
dist/
out/
generated-docs/

package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor files
.vscode/

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
#!.yarn/cache
.pnp.*

# Cypress test artifacts
prosemirror-jdita-demo/cypress/downloads/*